.art {
  position: relative;
  width: 14dvw;
  height: 35dvh;
  border-radius: 25px;
  background: #83c5be;
  box-shadow: 20px 20px 60px #b3d7e1;
  display: flex;
  flex-direction: column;
  cursor: pointer;
  color: white;
  justify-content: space-between;
  padding: 0.3dvw;
  transition: transform 0.3s ease;
  background-repeat: no-repeat;
  background-size: cover;
  overflow: hidden;
}

.art::before {
  content: "";
  position: absolute;
  inset: 0;
  background: rgba(0, 0, 0, 0); /* start transparent */
  border-radius: 25px;
  transition: background 0.3s ease;
  z-index: 0;
}

.art * {
  position: relative;
  z-index: 1;
}

.art:hover::before {
  background: rgba(0, 0, 0, 0.4); /* adjust to desired darkness */
}

.art p {
  visibility: hidden;
}

.art:hover p {
  visibility: visible;
  transform: translate(0%, -50%);
  transition: 0.3s ease-out;
}

.art:hover small {
  visibility: hidden;
}

.art:hover {
  transform: scale(1.05);
}
