@import "./variables.css";
@import url("https://fonts.googleapis.com/css2?family=Oswald:wght@200..700&family=Playfair+Display:ital,wght@0,400..900;1,400..900&family=Roboto:ital,wght@0,100..900;1,100..900&family=Space+Grotesk:wght@300..700&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: clamp(14px, 1.2vw, 18px);
  scroll-behavior: smooth;
}

body {
  font-family: system-ui, sans-serif;
  width: 100%;
  background-color: var(--bg);
  color: var(--text);
  transition: background-color var(--transition), color var(--transition);
  line-height: 1.6;
}

/*CONTAINER*/

.container {
  width: 100%;
  max-width: 1100px;
  margin: 0 auto;
  padding-inline: 1rem;
}

@media (min-width: 768px) {
  .container {
    padding-inline: 2rem;
  }
}

/* MEDIA QUERIES */

@media (max-width: 480px) {
  body {
    font-size: 0.9rem;
  }

  h2 {
    font-size: 1.75rem;
  }

  h3 {
    font-size: 1.25rem;
  }

  .container {
    padding-left: 1rem;
    padding-right: 1rem;
  }
}

/* TYPOGRAPHY */
a {
  color: var(--accent);
  text-decoration: none;
  transition: color var(--transition);
}

a:hover {
  color: var(--secondaryAccent);
}

h1,
h2,
h3 {
  line-height: 1.2;
  margin-bottom: 0.5em;
  font-weight: 600;
}

h2 {
  font-size: clamp(1.75rem, 3vw, 2.25rem);
}

h3 {
  font-size: clamp(1.25rem, 2.5vw, 1.75rem);
}

p {
  font-size: clamp(1rem, 1.2vw, 1.125rem);
  color: var(--secondaryText);
}

/*RESPONSIVE TEXT*/

@media (max-width: 600px) {
  body {
    font-size: 0.95rem;
  }

  .container {
    padding-inline: 1rem;
  }
}

@media (max-width: 480px) {
  body {
    font-size: 0.9rem;
  }

  h2 {
    font-size: clamp(1.5rem, 6vw, 1.75rem);
  }

  h3 {
    font-size: clamp(1.125rem, 5vw, 1.5rem);
  }
}
/* FONTS */

.roboto {
  font-family: "Roboto", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
  font-variation-settings: "wdth" 100;
}

.playfair {
  font-family: "Playfair Display", serif;
  font-optical-sizing: auto;
  font-weight: 500;
  font-style: normal;
}

/* SCROLLBAR STYLE */

::-webkit-scrollbar {
  width: 10px; /* scrollbar width */
  height: 10px; /* horizontal scrollbar height */
}

::-webkit-scrollbar-track {
  background: var(--secondaryBg); /* track background */
  border-radius: 10px;
}

::-webkit-scrollbar-thumb {
  background-color: var(--accent); /* main thumb color */
  border-radius: 10px;
  border: 2px solid var(--secondaryBg); /* gap effect */
  transition: background var(--transition);
}

::-webkit-scrollbar-thumb:hover {
  background-color: var(--secondaryAccent); /* hover effect */
}
