.heroTitle {
  margin-top: 8rem;
  margin-bottom: 8rem;
  color: #313234;
}

.heroTitle a {
  font-size: 1.1875rem;
  color: #ff4d4d;
  font-weight: 600;
  margin: 0;
}

.heroTitle a:hover {
  color: rgb(223, 2, 2);
}

.heroTitle h1 {
  margin: 0;
  font-size: 5.875rem;
}

.heroParagraph {
  margin-top: 2rem;
  font-size: 2rem;
  color: #373a3c;
}
