@import "../../styles/variables.css";

.heroTitle {
  padding: 0;
  margin-left: 0;
  margin-top: 8rem;
  margin-bottom: 8rem;
  color: var(--text);
}

.heroTitle a {
  font-size: 1.1875rem;
  color: var(--accent);
  font-weight: 600;
  margin: 0;
}

.heroTitle a:hover {
  color: var(--secondaryAccent);
}

.heroTitle h1 {
  margin: 0;
  font-size: 5.875rem;
}

.heroParagraph {
  margin-top: 2rem;
  font-size: 2rem;
  color: var(--secondaryText);
}
