.header {
  padding-top: 1rem;
  padding-bottom: 1rem;
}

.navBar {
  display: flex;
  justify-content: space-between;
  align-items: center; /* vertically center items */
  padding: 0 1rem;
}

.navLeft {
  display: flex;
  align-items: center; /* vertical center */
  gap: 1rem; /* space between items */
}

.navLeft img {
  border-radius: 50%;
  width: 3.5rem;
  margin: 0;
  padding: 0;
}

.navLeft a {
  margin: 0;
  padding: 10px;
  font-weight: 600;
  color: var(--accent);
}

.navLeft a:hover {
  color: var(--secondaryAccent);
}

.navRight {
  display: flex;
  align-items: center;
  gap: 1rem; /* space between items */
}

.navRight a {
  position: relative;
}

.navRight a::after {
  content: "";
  position: absolute;
  bottom: -7px;
  left: 50%;
  transform: translateX(-50%);
  width: 0;
  height: 5px;
  background-color: var(--secondaryAccent);
  transition: width 0.3s ease;
}

.navRight a:hover::after {
  width: 100%;
}

.navRight a.active::after {
  width: 100%;
}

.themeButton {
  padding: 0;
  width: 4.5rem;
  height: 4.5rem;
  border-radius: 50%;
  background-color: var(--bg);
  color: var(--accent);
  font-size: 1.2em;
  border: none;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  transition: transform 0.2s ease, background-color 0.2s ease;
}

.themeButton:hover {
  background-color: var(--secondaryBg);
}
