.footer {
  border-top: 2px solid rgba(0, 0, 0, 0.077);
  padding-top: 1rem;
  padding-bottom: 1rem;
}

.leftSection {
  display: flex;
  flex-direction: row;
  justify-content: start;
  text-align: left;
  gap: 6em;
}

.leftSection div {
  padding: 10px;
}

.leftSection p {
  margin-bottom: 5px;
  padding: 0px;
}

.leftSection a {
  padding: 0px;
}

.sideImg {
  display: flex;
  margin-left: auto;
}
.sideImg img {
  height: 5dvh;
}

.footer p {
  font-weight: 600;
  color: #313234;
}
