.footer {
  border-top: 2px solid rgba(0, 0, 0, 0.077);
  padding: 0;
  width: 98vw;
  margin-left: calc(-10dvw);
}

.leftSection {
  display: flex;
  flex-direction: row;
  padding: 0;
  justify-content: start;
  padding-left: 17dvw;
  padding-right: 3.5dvw;
  text-align: left;
  gap: 6em;
}

.leftSection div {
  padding: 10px;
}

.leftSection p {
  margin-bottom: 5px;
  padding: 0px;
}

.leftSection a {
  padding: 0px;
}

.sideImg {
  display: flex;
  margin-left: 12dvw;
}
.sideImg img {
  height: 5dvh;
}

.footer p {
  font-weight: 600;
  color: #313234;
}
